@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #f5f5f5;
  padding: 6px;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 #a9a9a9;
}

form {
  position: absolute;
  margin: 80px 0 0 0;
  transition: 0.5s;
  width: 300px;
  height: 400px;
}

.btns-form {
  margin: 20px 0 0 0;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 7px 0 #8a2be2;
}

.btns-form button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 30px;
}

.btn-color {
  position: absolute;
  width: 108px;
  height: 100%;
  background: linear-gradient(to right, #5956e9, #a963f8);
  border-radius: 30px;
  transition: 0.3s;
}

input[type="text"],
input[type="password"] {
  border: none;
  margin: 40px 0 0 0;
  border-radius: 60px;
  padding: 10px 0 10px 35px;
  outline: none;
  width: 100%;
}

button[type="submit"] {
  background: linear-gradient(to top, #5956e9, #a963f8);
  color: #f3f3f3;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  font-size: 1rem;
  margin: 40px 0 0 0;
}

.form-check {
     margin: 10px 0 0 5px;
     width: 80%;
     font-size: 1rem;
}

#signin{
     left: 25px;
}

#signup{
     left: 450px;
}

i{
     position: absolute;
     left: 0;
     padding: 10px;
     color: #8a2be2;
}

.iEmail{
     top: 40px;
}

.iPassword{
     top: 122px;
}


.iPassword2{
     top: 202px;
}